<?xml version='1.0' encoding='utf-8'?>
<widget id="org.voidbert.reader" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">

	<name>Book Reader</name>
	<author>Voidbert</author>
	<description>
		An application to read books and take annotations
	</description>

	<content src="index.html" />
	<access origin="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
</widget>
