#remove {
	display: none;
	opacity: 0;
	transition: fill 0.2s, opacity 0.2s;
}

#book-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 12rem);
	justify-content: center;

	grid-gap: 0.7rem;
}

.book-grid-icon {
	display: flex;
	flex-direction: column;

	border-radius: 0.5rem;

	text-align: center;
}

.book-grid-icon-selected {
	background-color: var(--tertiary-color);
	color: var(--primary-color);
}

.book-grid-icon-img { margin: 0.7rem; }
.book-grid-icon-text {
	width: 100%;
	
	margin-bottom: 0.7rem;

	word-wrap: break-word;
}

#plus-icon {
	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	right: 1.5rem;
	bottom: 1.5rem;

	width: 3.5rem;
	height: 3.5rem;

	border-radius: 1.75rem;

	background-color: var(--primary-color);
	font-size: 2rem;
	color: var(--secondary-color);
}

#plus-icon:hover {
	color: var(--tertiary-color);
}