* {
	user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	/* transition: background-color 0.5s; */
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;

	margin: 0.7rem;
	
	font-family: sans-serif;

	background-color: var(--background-color);
	color: var(--foreground-color);
}

#header-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;

	min-height: 3rem;

	border-radius: 0.5rem;
	padding: 0.2rem 0.7rem;
	margin-bottom: 0.7rem;
	
	font-weight: bold;
	font-size: 140%;

	background-color: var(--primary-color);
	color: var(--secondary-color);
}

#header-bar-icons-container {
	display: flex;
	align-items: center;
}

.header-bar-icon {
	height: 2.5rem;
	width: 2.5rem; /*Dirty fix for poorly working <object> on mobile*/

	margin-right: -0.7rem;
}

.dropdown-menu {
	display: flex;
	flex-direction: column;

	width: fit-content;
	width: -moz-fit-content;

	transition: opacity 0.2s;
}

.dropdown-menu-item {
	border-radius: 0.5rem;
	padding: 0.7rem;
	margin-bottom: 0.7rem;

	font-size: 120%;
	color: var(--secondary-color);
	cursor: pointer;

	background-color: var(--primary-color);
}